<footer class="footer">
	<nav>
		<ul>
			<li><%= link_to "Terms", 'terms' %></li>
			<li><%= link_to "Privacy", 'privacy' %></li>
			<li><%= link_to "AboutUs", 'aboutus' %></li>
			<li><%= link_to "ContactUs", 'contactus' %></li>
			<li><%= link_to "Request Enhancement", "request" %></li>
			<li><%= link_to "Feedback", 'feedback' %></li>
		</ul>
	</nav>
</footer>
 
